name: Build Apps
on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
        description: 'Environment to deploy to (sandbox/production)'
        default: sandbox
      ref:
        type: string
        required: false
        default: ${{ github.ref }}
    outputs:
      android-artifact-apk:
        description: 'Android APK build artifact name'
        value: ${{ jobs.android.outputs.artifact-name-apk }}
      android-artifact-aab:
        description: 'Android AAB build artifact name'
        value: ${{ jobs.android.outputs.artifact-name-aab }}
      ios-artifact:
        description: 'iOS build artifact name'
        value: ${{ jobs.ios.outputs.artifact-name }}

jobs:
  android:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      artifact-name-apk: ${{ steps.set-artifact.outputs.name-apk }}
      artifact-name-aab: ${{ steps.set-artifact.outputs.name-aab }}
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          android: false # Note: Removing the Android SDK will add 3-4 minutes to this step! 9 GB will be recovered.
          docker-images: true
          dotnet: true
          haskell: true
          large-packages: false # ADP transactions can take a long time!
          swap-storage: false # Build requires swap memory to succeed!
          tool-cache: false # May be necessary for some tools.

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 1G
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-
          # created more than this number of seconds ago
          purge-created: 0
          # or, last accessed more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-last-accessed: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: never

      - name: Get yarn cache directory path
        uses: workflow/nix-shell-action@v3.4.0
        id: yarn-cache-dir-path
        with:
          flakes-from-devshell: 'true'
          flakes: .#ci.x86_64-linux
          script: |
            echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Ensure env.local.js
        run: |
          touch src/config/env.local.js

      - name: Use gradle.ci.properties
        run: |
          cp android/gradle.ci.properties android/gradle.properties

      # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md
      - name: Setup Gradle cache
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
          cache-cleanup: on-success
          cache-read-only: false
          cache-write-only: false
          cache-overwrite-existing: true

      - name: Build Android release
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: 'true'
          flakes: .#ci.x86_64-linux
          script: |
            yarn install
            if [[ "${{ inputs.environment }}" == "sandbox" ]]; then
              yarn build:dfsb:release
            else
              yarn build:production:release
            fi

      - name: Set artifact name
        id: set-artifact
        run: |
          if [[ "${{ inputs.environment }}" == "sandbox" ]]; then
            echo "name-apk=app-dreamfiSandbox-android-release-apk" >> $GITHUB_OUTPUT
            echo "name-aab=app-dreamfiSandbox-android-release-aab" >> $GITHUB_OUTPUT
          else
            echo "name-apk=app-production-android-release-apk" >> $GITHUB_OUTPUT
            echo "name-aab=app-production-android-release-aab" >> $GITHUB_OUTPUT
          fi

      - name: Upload Android sandbox APK build
        if: ${{ inputs.environment == 'sandbox' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact.outputs.name-apk }}
          path: android/app/build/outputs/apk/dreamfiSandbox/release/app-dreamfiSandbox-release.apk

      - name: Upload Android sandbox AAB build
        if: ${{ inputs.environment == 'sandbox' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact.outputs.name-aab }}
          path: android/app/build/outputs/bundle/dreamfiSandboxRelease/app-dreamfiSandbox-release.aab

      - name: Upload Android production APK build
        if: ${{ inputs.environment == 'production' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact.outputs.name-apk }}
          path: android/app/build/outputs/apk/production/release/app-production-release.apk

      - name: Upload Android production AAB build
        if: ${{ inputs.environment == 'production' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact.outputs.name-aab }}
          path: android/app/build/outputs/bundle/productionRelease/app-production-release.aab

  ios:
    runs-on: macos-latest
    environment: ${{ inputs.environment }}
    outputs:
      artifact-name: ${{ steps.set-artifact.outputs.name }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 1G
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-
          # created more than this number of seconds ago
          purge-created: 0
          # or, last accessed more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-last-accessed: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: never

      - name: Get yarn cache directory path
        uses: workflow/nix-shell-action@v3.4.0
        id: yarn-cache-dir-path
        with:
          flakes: .#ci.x86_64-darwin
          script: |
            echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Copy env for SERVER_ADDRESS
        run: |
          if [[ "${{ inputs.environment }}" == "sandbox" ]]; then
            cp .env.dreamfiSandbox .env
          else
            cp .env.production .env
          fi

      - name: Ensure env.local.js
        run: |
          touch src/config/env.local.js

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4.0'

      - name: Install yarn
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes: .#ci.x86_64-darwin
          script: |
            yarn install

      - name: Restore Pods cache
        uses: actions/cache@v4
        with:
          path: |
            ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes: .#ci.x86_64-darwin
          script: |
            cd ios
            pod install --repo-update

      - name: Restore Ruby Bundler cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-bundler-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-bundler-

      - name: Install Ruby Gems
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes: .#ci.x86_64-darwin
          script: |
            bundle install

      - name: Build and Export IPA with Fastlane
        uses: workflow/nix-shell-action@v3.4.0
        env:
          IOS_P12_BASE64: ${{ secrets.IOS_P12_BASE64 }}
          IOS_P12_PASSWORD: ${{ secrets.IOS_P12_PASSWORD }}
          IOS_CER_BASE64: ${{ secrets.IOS_CER_BASE64 }}
          IOS_MOBILEPROVISION_BASE64: ${{ secrets.IOS_MOBILEPROVISION_BASE64 }}
        with:
          flakes: .#ci.x86_64-darwin
          script: |
            bundle exec fastlane export_ipa environment:${{ inputs.environment }}

      - name: Set artifact name
        id: set-artifact
        run: |
          echo "name=app-${{ inputs.environment }}-ios-release" >> $GITHUB_OUTPUT

      - name: Upload iOS build
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact.outputs.name }}
          path: DreamFi.ipa

      # Secrets from: https://appstoreconnect.apple.com/access/integrations/api
      - name: 'Upload app to TestFlight'
        uses: apple-actions/upload-testflight-build@v1
        with:
          app-path: 'DreamFi.ipa'
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_API_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
