name: Build Apps
run-name: 'Merging with release ${{ github.event_name }} on ${{ github.ref_name }} rev-'
on:
  workflow_call:
    inputs:
      rev:
        type: string
        required: true
      sha:
        type: string
        required: true

jobs:
  push_ecr:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry for caching
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: api-service
          IMAGE_TAG: ${{ inputs.sha }}
          REV: ${{ inputs.rev }}
        run: |
          docker buildx build --tag $REGISTRY/$REPOSITORY:$IMAGE_TAG --load --cache-from=type=registry,ref=ghcr.io/dreamfi-llc/middleware:cache .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
          MANIFEST=$(aws ecr batch-get-image --repository-name $REPOSITORY --image-ids imageTag=$IMAGE_TAG --output text --query 'images[].imageManifest')
          aws ecr put-image --repository-name $REPOSITORY --image-tag "$REV" --image-manifest "$MANIFEST"
          aws ecr put-image --repository-name $REPOSITORY --image-tag "latest" --image-manifest "$MANIFEST"
